{% extends 'base.html.twig' %}

{% block title %}Accueil - Conference{% endblock %}

{% block body %}
    <main class="container">
        <h1>Bienvenue sur MonSite</h1>
        <p>Ceci est la page d'accueil servie par <strong>ControlleurMenu</strong>.</p>
    </main>
{% endblock %}
