{% extends 'base.html.twig' %}

{% block title %}Accueil - Conference{% endblock %}

{% block body %}
    <main class="container">
        <h1>Bienvenue sur la plateforme de gestion des conférences médicales</h1>
        <p>Cette application vous permet de gérer les conférences en ligne, de vous inscrire et de participer aux discussions.</p>
        <p>Utilisez le menu de navigation pour accéder aux différentes sections de l'application.</p>
    </main>
{% endblock %}
